<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/normalize.css">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          rel="stylesheet">       
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
        <nav>
            <div class="encabezado">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
                    <div class="busqueda">
                        <input type="search" id="site-search" name="busqueda">
                        <button>
                            <i class="fa fa-solid fa-magnifying-glass"></i>
                        </button>  
                    </div>

            <div id="icono-compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</div>
            </div>

            <div class="navbar">
                <ul class="site">
                    <li><a href="#"></a>Ofertas </li>
                    <li><a href="#"></a>Tiendas Oficiales </li>
                    <li><a href="#"></a>Vender </li>
                    <li><a href="#"></a>Ayuda </li>
                </ul>
                
                <ul class="login-bar">
                    <li><a href="http://localhost:3050/register"> Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="http://localhost:3050/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#"></a>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
        </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header> 

    <h2>Registro de Usuario</h2>

    <form action="register.html" method="POST">
        <p class="formulario">
            <label for="nombre"></label>
            <input type="text" name="nombre" class="campo" placeholder="Nombre y Apellido" required>
        </p>

        <p class="formulario">
            <label for="usuario"></label>
            <input type="text" name="Usuario" class="campo" placeholder="Nombre de Usuario" required>
        </p>

        <p class="formulario">
            <label for="email"></label>
            <input type="email" name="email" class="campo" placeholder="E-mail" required>
        </p>

        <p class="formulario">
            <label for="contraseña"></label>
            <input type="password" name="contraseña" class="campo" placeholder="Contraseña" required>
        </p>

    <h3>Fecha de Nacimiento</h3>
        <p class="formulario">
            <label for="fecha"></label>
            <input type="date" name="fecha" class="campo"  placeholder="mm/dd/yyyy" required>
        </p>
        
        <p class="formulario">
            <label for="domicilio"></label>
            <input type="text" name="domicilio" class="campo" placeholder="Domicilio" required>
        </p>


    <h3>Perfil de Usuario</h3>
        <div class="radio">
            <input type="radio" name="perfil" value="Comprador">
            <label for="perfil">Comprador</label>

            <input type="radio" name="perfil" value="Vendedor">
            <label for="perfil">Vendedor</label>
        </div>
        
    <h3>Intereses</h3>
            <p class="checkbox">
                <input type="checkbox" name="interes" value="electro">
                <label for="interes">Electro</label>
            </p>

            <p class="checkbox">
                <input type="checkbox" name="interes" value="moda">
                <label for="interes">Moda</label>
            </p>

            <p class="checkbox">
                <input type="checkbox" name="interes" value="hogar">
                <label for="interes">Hogar</label>
            </p>

            <p class="checkbox">
                <input type="checkbox" name="interes" value="jugueteria">
                <label for="interes">Jugueteria</label>
            </p>

            <p class="checkbox">
                <input type="checkbox" name="interes" value="vida sana">
                <label for="interes">Vida sana</label>
            </p>
        </div>

            <p class="boton">
            <input type="submit" value="Enviar">
            </p>
        
    </form>
  </body>
</html>